
.cat__btn{
    font-weight: bold;
    outline-style: none !important;
    border: none;
}
.dropdown-menu{
    margin-top: 120px !important;
    width: 100%;
    
}
.mega__menu{
    /* height: 46px !important; */
    padding: -5px;
}
.subMenu{
    font-size: 15px;
}

.dropdown-item:hover{
    color: rgb(98, 165, 219) !important;
    background: transparent !important;
}
.allCats{
    color: #002f34 !important;
    font-weight: bolder  !important;
    text-transform: uppercase !important;
}
.active > a{
    color: #002f34 !important;
    font-weight: 490;
    font-size: 15px;
}
.active > :hover{
    color: rgb(142, 196, 241) !important;
}
.dropdown-menu{
    margin-top: -4px !important ;
}
*{
    padding: -20px;
}
/* .nav2{
    display: flex;
    justify-content: center;
    align-items: space-around;
    position: relative;
    top: 65%;
}*/ 

.mega__menu{
    box-shadow: 1px solid gray;
}
@media(max-width:600px){
    .collapse2{
        background-color: white;
    }
}