 /* .popularCat > a{
    margin-left: 15px; 
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    justify-content: space-between !important;
    
 } 
 .popularCat{
     
 }
 .row{
     display: flex;
 } */
 .mainBotNav{
   
    
 }