.heading{
    font-size: 24px;
    color: #002f34;
}
.FreshMedia{
    /* height: auto !important; */
}
.buttonLoad > button{
    color: #002f34;
    font-weight: 500;
    border-radius: 4px;
    border: 2px solid #002f34;
    padding: 0 10px;
    font-size: 16px;
    height: 48px;
    background-color: #ffff !important;
}
.buttonLoad > button:hover{
    border: 5px solid #002f34;
}
.buttonLoad{
    align-items: center !important;
    justify-content: center;
    display: flex;
}
.noMore{
    align-items: center !important;
    justify-content: center;
    display: flex;        
}
.uploadImg{
    /* display: block; */
    /* justify-content: center !important; */
    /* align-items: center; */
    /* border: 1px solid black;
    height: 80px !important;
    width: 100px !important;
    background-color: black ;
    z-index: 11111; */
    
}

@media(max-width: 812px){
    .FreshMedia{
        margin-top: 880px !important;
    }
}
/* @media(max-width: 603px){
    .FreshMedia{
        margin-top: 300px !important;
        
    }
     */
