.autoCmplt_search{
   width: 190px;
}
.auto_ICON{
    cursor: pointer;
}
.MuiAutocomplete-input{
    background-color: none !important;
    outline-style: none !important;
    outline: none !important;
    border-width: 0px !important;
    font-size: 1.1rem;
    color: gray !important;

    
    
}
.navbar{
    height: 70px !important;
    padding: 4px;
    position: relative;
}
.navbar__autocomplete{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 8px;
    border: 2px solid black !important;
    border-radius: 4px !important;
    height: 50px;

}
.navbar__autocomplete > .MuiSvgIcons-root{
    font-size: 180px !important;
}
.navbar__autocomplete > .MuiSvgIcons-root:hover{
    cursor: pointer !important;
}

.seachFieldIcon{
    background-color: #002f34 !important;
    color: white !important;
    height: 100%;
    cursor: pointer;
    width: 100%;
    border:2px solid black;
    border-left: none;
    font-size: 10px !important;
}


.navbar__search{
    
    outline: none !important;
    width: 650px !important;
    border-radius: 4px;
    padding: 3px;
    background-color: white;

}
.bigSearch{
    background-color: transparent;
    border: 2px solid black !important;
    border-right: none !important;
    padding: 9px;
    font-size: 1.1rem;
    color: gray !important;
}
.navbar-brand{
}

.navbar__login{
    font-size: 1.1rem;
    color: #002f34;
    font-weight: 670;
    border-bottom:2px solid #002f34 ;
    text-decoration: none;
    
}

.navbar__login:hover{
    color: #002f34;
    border-bottom: none;
    
}
.button {
    background-image: linear-gradient(90deg, #FFCF00 17%, #A3E4D7 1%, #3498DB  80%);
    position: relative;
    padding: 6px !important;
    display: inline-block;
    border-radius: 80px;
    width: 100%;
    font-weight: bold;
}
     .sell{
      display: inline-block;
      background: #fff;
      color: #002f34;
      text-transform: uppercase;
      padding: 8px;
      border-radius: 100px;
      width: 100%;
      font-weight: bold;
      text-align: center;
      font-size: 1rem;
    }
    .navbar{
        height: 80px;
        padding: -5px;
    }
  /* .nav{
    display: flex !important; 
    justify-content: space-around !important;
    align-items: center !important;
    
    position: fixed !important;
    z-index: 1 !important;
    width: 100% !important;
    height: 8vh !important;
  } */
.afterIcons{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    
}
.afterIcons > .AvatarIcons{
    padding: 10px;
    margin: 60px;
}