@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.popular__main > .pop_searches{
    color: #001214 !important;
    font-weight: 700;
    font-size: 12px;
    font-family: Roboto,Arial,Helvetica,sans-serif;
}
.popular__main > .pop_cat{
    color: rgba(0,47,52,.64);
    font-size: 12px;
}
.popular__main > .pop_cat:hover{
    /* color: rgba(0,47,52,.64); */
    cursor: pointer;
}
.nav__ul > li{
    display: inline-block;
    padding: 3px;
    color: rgba(0,47,52,.64);
    text-decoration: none;
    font-size: 13px;
}
.nav__ul > li:hover{
    cursor: pointer;
}

.main_Category > h1{
    font-size: 24px;
    margin: 0 0 8px;
    color: #002f34;
    font-weight: bold !important;
}
.top_add{
    display: flex;
    justify-content: space-between;
}
.view {
    display: flex;
    /* justify-content: space-between; */
    
}

.view > div > h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #002f34;
    margin-right: 20px;
    cursor: pointer;
    
}

.menu_type:hover{
    /* background-color: #b0fffc !important; */
    fill: #00a49f;
   

}

.menu_type{
    background: none;
    border: none;
}

.menu_type > span{
    padding: 10px;
}

.sort> div >span {
    border-left: 1px solid lightgray;
    /* margin-top: 70px !important; */
    height: 60px !important;
}

.sort > div >h6{
    font-size: 14px;
    /* text-align: right; */
    color: #002f34;
    font-weight: 900;
    margin-left: 10px !important;
}

.verticle__line2{
    width: 1px;
    margin: 0 auto;
    background-color: rgba(0,47,52,.2);
    border: 0 solid rgba(0,47,52,.2);
    height: 28px;
}
.sort{
    display: flex;
}
 .new_listed{
    font-size: 14px;
    text-align: right;
    color: #002f34;
}
.sort > div > p{
    font-size: 14px;
    text-align: right;
    color: #002f34;
    margin-top: 13px;
    margin-left: 5px;
}

.newly{
    display: flex;
    justify-content: space-between;

}
.downArrow{
    cursor: pointer;
}
.activeMenu{
    fill: #00a49f;
}