.sellCard1{
    width: 300px !important;
    max-height: 280px !important;
    background-color: #3a77ff !important;
    margin: 3px !important;
}
.sellTitle{
    font-size: 17px !important;
    color: white;
}
.sellText{
    font-size: 14px !important;
    color: white !important;
    word-spacing: 1px;
}
.sellBtnCard{
    background-color: #3a77ff !important;
    border: 2px solid white !important;
    padding: 3px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
    margin-top: 20px !important;
    font-size: 14px;
    width: 100% !important;
}
.sellBtnCard:hover{
    border: 4px solid white !important;
}